/* html { */
    /* height: 100%; */
  /* overflow: hidden; */
/* } */
body {
    
    background-color: mediumaquamarine;
    font-family: 'Just Another Hand', cursive;
    

}
.choice {
    border: 1px solid black;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.jumbotron {
    background-color: rgb(139, 114, 213);
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    transition: box-shadow 1s;

}
.jumbotron:hover {
    -webkit-text-stroke-color: blueviolet;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.5);
    /* padding: 1px; */
    cursor: pointer;
    transition: box-shadow 1s;
}
.footer {
    text-align: center;
}
#links:hover {
    box-shadow: 15px 15px 15px rgba(119, 7, 184, 0.5);
    /* padding: 10px; */
    cursor: pointer;
    transition: box-shadow 1s;
}
#gif {
    /* float: left; */
    height: 100px;
    width: 250px;
    /* -webkit-animation: cssAnimation 0s ease-in 2s forwards; */
}
/* @keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
} */
#reset:hover {
box-shadow: 15px 15px 15px rgba(0,0,0,0.5);
/* padding: 8px; */
cursor: pointer;
transition: box-shadow 1s;
}
    /* @-webkit-keyframes cssAnimation {
        to {
            width:0;
            height:0;
            visibility:hidden;
        }
    } */